In [2]:
import pandas as pd

In [19]:
summarized_review = pd.read_csv("output_kaggleXnotebook/to create separate dataframes/selected_reviews.csv") # this is output of version9 foodie finder
print(summarized_review.shape)

(505, 5)

In [20]:
# Split the DataFrame into smaller DataFrames with approximately 115 rows each
dfs = [summarized_review[i:i + 115] for i in range(0, len(summarized_review), 115)]

# Check the number of DataFrames created
number_of_dfs = len(dfs)
print(f"Number of DataFrames created: {number_of_dfs}")

# Optionally, print the shape of each DataFrame
for index, smaller_df in enumerate(dfs):
    print(f"DataFrame {index + 1} shape: {smaller_df.shape}")

Number of DataFrames created: 5
DataFrame 1 shape: (115, 5)
DataFrame 2 shape: (115, 5)
DataFrame 3 shape: (115, 5)
DataFrame 4 shape: (115, 5)
DataFrame 5 shape: (45, 5)

In [21]:
dfs[0].head(2)

,restaurant_name,restaurant_rating,individual_rating,comments,Location
0,Bistro Sakaba REPOS,3.51Very good65reviews,3.9Food and taste-Service-Atmosphere-Cost perf...,This is my second visit. This time I visited w...,Hokkaido
1,Bistro Sakaba REPOS,3.51Very good65reviews,4.0Food and taste4.0Service3.5Atmosphere3.5Cos...,I happened to discover this place when I was l...,Hokkaido

In [22]:
dfs[1].head(2)

,restaurant_name,restaurant_rating,individual_rating,comments,Location
115,Kyoto Sushi Momonoki,3.53Very good118reviews,3.8Food and taste-Service-Atmosphere-Cost perf...,It's a great course to have Sushi for 6000 yen...,Kyoto
116,Kyoto Sushi Momonoki,3.53Very good118reviews,3.3Food and taste-Service-Atmosphere-Cost perf...,While Kyoto Station buildings tend to be crowd...,Kyoto

In [23]:
dfs[2].head(2)

,restaurant_name,restaurant_rating,individual_rating,comments,Location
230,Sushi Akazu,3.76Very good301reviews,3.7Food and taste3.7Service3.7Atmosphere3.7Cos...,I ordered the selection course.The time I visi...,Osaka
231,Sushi Akazu,3.76Very good301reviews,3.8Food and taste3.8Service3.5Atmosphere4.0Cos...,There were only 8 seats at the counter. The su...,Osaka

In [24]:
dfs[3].head(2)

,restaurant_name,restaurant_rating,individual_rating,comments,Location
345,Ginza Chikamitsu,3.60Very good291reviews,4.5Food and taste-Service-Atmosphere-Cost perf...,The fillet was very soft and I knew it was del...,Tokyo
346,Ginza Chikamitsu,3.60Very good291reviews,4.5Food and taste-Service-Atmosphere-Cost perf...,以前テレビで見て来てみたかったお店。ビル一階に小さな扉と暖簾、小さく店名。急いでいたら通り過...,Tokyo

In [25]:
dfs[4].head(2)

,restaurant_name,restaurant_rating,individual_rating,comments,Location
460,Ushiwakamaru Shibuya Ten,3.1467reviews,1.0Food and taste1.0Service1.0Atmosphere2.8Cos...,"Even with scissors, I couldn't cut off the gre...",Tokyo
461,Ushiwakamaru Shibuya Ten,3.1467reviews,3.5Food and taste3.5Service3.5Atmosphere3.5Cos...,"・国産牛豪華5点盛り(並牛タン、国産カルビ、中落カルビ、国産上カルビ、カイノミ)¥4,323...",Tokyo

In [28]:
#

# Create the output directory if it doesn't exist
output_dir = "output_kaggleXnotebook/to create separate dataframes"

# Save each DataFrame to a CSV file in the specified directory
for index, smaller_df in enumerate(dfs):
    filename = f'{output_dir}/reviews_df_{index + 1}.csv'  # Create a filename with the output directory
    smaller_df.to_csv(filename, index=False)  # Save to CSV without row index
    print(f"Saved {filename}")

Saved output_kaggleXnotebook/to create separate dataframes/reviews_df_1.csv
Saved output_kaggleXnotebook/to create separate dataframes/reviews_df_2.csv
Saved output_kaggleXnotebook/to create separate dataframes/reviews_df_3.csv
Saved output_kaggleXnotebook/to create separate dataframes/reviews_df_4.csv
Saved output_kaggleXnotebook/to create separate dataframes/reviews_df_5.csv

In [ ]:
"output_kaggleXnotebook/to create separate dataframes"